@font-face {
    font-family: 'GeneralSans-Variable';
    src: url('./assets/GeneralSans_Complete/GeneralSans-Variable.woff2') format('woff2'),
         url('./assets/GeneralSans_Complete/GeneralSans-Variable.woff') format('woff'),
         url('./assets/GeneralSans_Complete/GeneralSans-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
  }

html {
    font-family: 'GeneralSans-Variable', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

main {
    padding: 1rem;
    max-width: 90dvw;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
}

.introduction {
    background-image: url('./assets/landscape_comp.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.grille {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.grille > div {
    border: 1px solid hotpink;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.grille > div:hover{
 background-color: hotpink;
 color: black;
}

.grille .image {
    margin-top: 1rem;
    height: 100%;
    width: 100%;
}

.grille .image img{
    height: 100%;
    max-height: 35rem;
    object-fit: cover;
    width: 100%;
}